body {
    background-color: purple;
    text-align: center;
    font-family: monospace, sans-serif;
  }
  h1 {
    color: darkred;
    font-size: 36px;
    margin-top: 50px;
  }
  img {
    width: 70%;
    height: auto;
    margin-top: 1px;
  }
  p {
    color:  rgb(255, 140, 0);
    font-size: 40px;
    margin-top: 50px;
    font-family: Brush Script MT, Brush Script Std, cursive;
  }
